<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>AlmsBox New Donation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Donate: </h1>
    <form action="#" th:action="@{/donate}" th:object="${donation}" method="post">
      <p>Amount: <input type="text" th:field="*{amount}" /></p>
      <div>
        <select th:field="*{donationBox}" >
          <option
            th:each="box : ${boxList}"
            th:value="${box.id}"
            th:utext="${box.name}"
          ></option>
        </select>
      </div>
      <p><input type="submit" value="Submit" /> <input type="reset" value="Cancel" /></p>
    </form>
</body>
</html>
